/* Flip */

.alert-effect-flip {
  padding: 1.5em;
  backface-visibility: hidden;
}

.alert-bottom-left.alert-effect-flip,
.alert-bottom-right.alert-effect-flip,
.alert-bottom.alert-effect-flip {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.alert-top-left.alert-effect-flip,
.alert-top-right.alert-effect-flip,
.alert-top.alert-effect-flip {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.alert-effect-flip .alert-close::before,
.alert-effect-flip .alert-close::after {
  background: #fff;
}

.alert-effect-flip .alert-close:hover::before,
.alert-effect-flip .alert-close:hover::after {
  background: #fff;
}

.alert-bottom-right.alert-effect-flip.alert-show,
.alert-bottom-left.alert-effect-flip.alert-show,
.alert-bottom-right.alert-effect-flip.alert-hide,
.alert-bottom-left.alert-effect-flip.alert-hide,
.alert-bottom.alert-effect-flip.alert-hide,
.alert-bottom.alert-effect-flip.alert-show {
  -webkit-animation-name: animFlipFrontBottom;
  animation-name: animFlipFrontBottom;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.alert-bottom-right.alert-effect-flip.alert-hide,
.alert-bottom-left.alert-effect-flip.alert-hide,
.alert-bottom.alert-effect-flip.alert-hide {
  -webkit-animation-name: animFlipFrontBottom;
  animation-name: animFlipFrontBottom;
}

.alert-top-right.alert-effect-flip.alert-show,
.alert-top-left.alert-effect-flip.alert-show,
.alert-top-right.alert-effect-flip.alert-hide,
.alert-top-left.alert-effect-flip.alert-hide,
.alert-top.alert-effect-flip.alert-hide,
.alert-top.alert-effect-flip.alert-show {
  -webkit-animation-name: animFlipFrontTop;
  animation-name: animFlipFrontTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.alert-top-right.alert-effect-flip.alert-hide,
.alert-top-left.alert-effect-flip.alert-hide,
.alert-top.alert-effect-flip.alert-hide {
  -webkit-animation-name: animFlipFrontTop;
  animation-name: animFlipFrontTop;
}

@-webkit-keyframes animFlipFrontTop {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
  100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipFrontTop {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
  100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}

@-webkit-keyframes animFlipFrontBottom {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); }
  100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipFrontBottom {
  0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); transform: perspective(1000px) rotate3d(1,0,0,90deg); }
  100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}