/* Scale */

.alert-effect-scale a {
  color: #fff;
}

.alert-effect-scale a:hover,
.alert-effect-scale a:focus {
  color: #fff;
}

.alert-effect-scale .alert-close::before,
.alert-effect-scale .alert-close::after {
  background: #fff;
}

.alert-effect-scale .alert-close:hover::before,
.alert-effect-scale .alert-close:hover::after {
  background: #fff;
}

.alert-effect-scale.alert-show,
.alert-effect-scale.alert-hide {
  -webkit-animation-name: animScale;
  animation-name: animScale;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

@-webkit-keyframes animScale {
  0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes animScale {
  0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}