/* stackslide (top, bottom - full width) */

.alert-effect-stackslide .alert-close {
  background: transparent;
}

.alert-effect-stackslide .alert-close::before,
.alert-effect-stackslide .alert-close::after {
  background: #fff;
}

.alert-effect-stackslide p {
  padding: 0 1.5em;
  display: inline-block;
}

.alert-effect-stackslide .alert-close::before,
.alert-effect-stackslide .alert-close::after {
  width: 2px;
  background: #fff;
}

.alert-effect-stackslide .alert-close:hover::before,
.alert-effect-stackslide .alert-close:hover::after {
  background: #fff;
}

.alert-top-left.alert-effect-stackslide.alert-show,
.alert-top-right.alert-effect-stackslide.alert-show,
.alert-top-left.alert-effect-stackslide.alert-hide,
.alert-top-right.alert-effect-stackslide.alert-hide,
.alert-top.alert-effect-stackslide.alert-show,
.alert-top.alert-effect-stackslide.alert-hide {
  -webkit-animation-name: animSlideTop;
  animation-name: animSlideTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes animSlideTop {
  0% { -webkit-transform: translate3d(0,-100%,0); }
  100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideTop {
  0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

.alert-bottom-left.alert-effect-stackslide.alert-show,
.alert-bottom-right.alert-effect-stackslide.alert-show,
.alert-bottom-left.alert-effect-stackslide.alert-hide,
.alert-bottom-right.alert-effect-stackslide.alert-hide,
.alert-bottom.alert-effect-stackslide.alert-show,
.alert-bottom.alert-effect-stackslide.alert-hide {
  -webkit-animation-name: animSlideBottom;
  animation-name: animSlideBottom;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes animSlideBottom {
  0% { -webkit-transform: translate3d(0,100%,0); }
  100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideBottom {
  0% { -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}